body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header-font{
    font-size: 50px;
    position: relative;
}


#peter{
    color: #FFA500;
}

.flexible-container{
    display: flex;
}

.half-width{
    width: 100%;
    padding-left: 2%;
}

.half-width img{
    width: 80%;
}

.half-width p{
    text-align: justify;
}

.style-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 18px;
    border-radius: 10px;
    text-transform: uppercase;
    color: beige;
    font-weight: 700;
}

.ex{
    font-size: 40px;
}

#experience{
    display: flex;
}

#experience .half-width{
    box-shadow: 1px 1px 8px grey;
    margin: 40px;
    padding: 12px;
    border-radius: 10px;
}

.header{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.header-2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.header-3{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-clip: padding-box;
}

.align-thik-nai{
    padding-top: 100px;
}

.first{
    border-left: 10px solid tomato;
}

.second{
    border-left: 10px solid blue;
}

section{
    margin-bottom: 60px;
}

footer p{
    text-align: center;
}